:root{
    --color-color-header: #fff;
    --color-color-body: #68676c;
    --color-color-primary: #F4CE14;
    --border-bottom: 1px solid var(--color-color-header);
    --border-color-primary: #242430;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.html{
    font-size: 62.5%;
}
body{
    background-color: #1f1f29;
    font-family: 'Inter', sans-serif;
}
/*Container*/
.container{
    display: flex;
    
}
.container--30vw{
    width: 30vw;
    background: #2e2e4a;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    
}

/*Profile*/
.profile{
    background: var(--border-color-primary);
    justify-self: center;
    padding-bottom: 1rem;
    text-align: center;
}
.profile__name{
    color: var(--color-color-header);
}
.profile__position{
    color: var(--color-color-body);
    margin: 0 auto;
    padding: 0.2rem;
}
.profile__image{
    justify-self: center;
    border-radius: 20%;

    margin-top: 1rem;
    transition: transform 0.3s;
}
.profile__image:hover{
    transform: scale(1.05);
}

/*grid*/
.grid{
    display: grid;
    justify-self: center;
    margin: .5rem;
    text-align: center;
}
.grid--1x2{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}


/*info*/
.info > p:nth-child(odd){
    font-weight: 700;
    color: var(--color-color-header);
}
.info > p:nth-child(even){
    color: var(--color-color-body);
}
.grid{
    border-bottom: var(--border-bottom);
}

/*LanguageBar*/
.language{
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--color-color-header);
    text-align: center;
    border-bottom: var(--border-bottom);
}
.language__score{
    border-bottom: 3px solid var(--color-color-primary);
}

/*List*/
.list{
    border-bottom: var(--border-bottom);
    margin: 0 1rem;

}
.list__unordered{
    list-style-image: url(../images/tick.svg);
}
.list__item{
    color: var(--color-color-body);
    letter-spacing: 1px;
}

/*footer-aside*/
.footer-aside{
    margin: 1rem;
}
.footer-aside .container{
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-aside .container > a{
    color: black;
    transition: color .2s;
}
.footer-aside .container > a:hover{
    color: white;
}
