<div class="container container--30vw">
    <section class="profile">
      <img
        class="profile__image"
        src="images/1903626.jpg.jpg"
        alt="profile_pic"
      />
      <p class="profile__name">Sam Jian Him</p>
      <p class="profile__position">Full Stack Developer</p>
      <p class="profile__position">Network Engineer</p>
    </section>
    <section class="grid grid--1x2 info">
      <p>Residence</p>
      <p>Malaysia</p>
      <p>City</p>
      <p>Perak</p>
      <p>Age</p>
      <p>22</p>
    </section>
    <section class="container language">
      <div>
        <p class="language__score">80%</p>
        <p>English</p>
      </div>
      <div>
        <p class="language__score">80%</p>
        <p>Chinese</p>
      </div>
      <div>
        <p class="language__score">60%</p>
        <p>Malay</p>
      </div>
    </section>
    <section class="list border--bottom">
      <ul class="list__unordered">
        <li class="list__item">BootStrap, Materialise</li>
        <li class="list__item">Stylus, Sass, Less</li>
        <li class="list__item">Git Knowledge</li>
        <li class="list__item">Gulp Webpack, Grunt</li>
      </ul>
    </section>
    <section class="footer-aside">
      <div class="container">
        <a href="#"><i color ='black' class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-regular fa-envelope"></i></a>
      </div>
    </section>
  </div>