<div class="container container--30vw"></div>
<div class="container--70vw">
  <section class="card">
    <div class="grid grid--2x1">
      <div class="card__container card__headings">
        <h1 class="card__header">Discover my Amazing Art Space</h1>
        <p>
          &lt;<span class="card__hightlight">code</span>&gt; I build ios and android applications.
          |&lt;<span class="card__hightlight">code</span>&gt;
        </p>
        <button class="card__button">Explore Now</button>
      </div>
      <img class="card__image" src="images/ipad_700px.png" alt="" />
    </div>
  </section>
  <section class="records">
    <div class="container records__content">
      <p><span>10+ </span>Years Experience</p>
      <p><span>143 </span>Completed Projects</p>
      <p><span>114 </span>Happy Customers</p>
      <p><span>20+ </span>Honors and Awards</p>
    </div>
  </section>
</div>