<section class="services">
    <h2>My Services</h2>
    <div class="grid grid--3x2">
      <div class="services__card">
        <p class="services__card__header">Web Development</p>
        <p class="services__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, dolore?</p>
        <a class="services__card__link" href="#">Learn More ></a>
      </div>
      <div class="services__card">
        <p class="services__card__header">Web Development</p>
        <p class="services__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, dolore?</p>
        <a class="services__card__link" href="#">Learn More ></a>
      </div>
      <div class="services__card">
        <p class="services__card__header">Web Development</p>
        <p class="services__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, dolore?</p>
        <a class="services__card__link" href="#">Learn More ></a>
      </div>
      <div class="services__card">
        <p class="services__card__header">Web Development</p>
        <p class="services__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, dolore?</p>
        <a class="services__card__link" href="#">Learn More ></a>
      </div>
      <div class="services__card">
        <p class="services__card__header">Web Development</p>
        <p class="services__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, dolore?</p>
        <a class="services__card__link" href="#">Learn More ></a>
      </div>
      <div class="services__card">
        <p class="services__card__header">Web Development</p>
        <p class="services__card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, dolore?</p>
        <a class="services__card__link" href="#">Learn More ></a>
      </div>
    </div>
  </section>